# Auto detect text files and normalize line endings
* text=auto eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.zip binary
*.gz binary
*.tar binary
*.bag binary
*.db3 binary