services:
  ros-dev:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    container_name: gerbil-dev
    ports:
      - "6080:80"
    shm_size: '512m'
    security_opt:
      - seccomp:unconfined
    volumes:
      - ./src:/home/ubuntu/ros2_ws/src
    command: /bin/bash -c "supervisord -c /etc/supervisor/supervisord.conf"

  ros-jetson:
    build:
      context: .
      dockerfile: docker/Dockerfile.jetson
    container_name: gerbil-jetson
    network_mode: host
    privileged: true
    shm_size: '512m'
    volumes:
      - ./src:/home/ubuntu/ros2_ws/src
    devices:
      - /dev/ttyTHS1:/dev/ttyTHS1
      - /dev/video0:/dev/video0
      - /dev/i2c-1:/dev/i2c-1
    command: /bin/bash -c "tail -f /dev/null"
